/* CSS */
.post-list-container {
    width: 550px;
  }
  
  .post-user-link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
  
  .post-image-container {
    width: 100%;
    height: 650px;
    overflow: hidden;
  }
  
  .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gray-text {
    color: gray;
    margin: 0 5px;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  